{% load static %}
<link rel="stylesheet" href="{% static 'quiz_ai_battle/style.css' %}">

<div class="container">
    <h2>Match Summary</h2>

    <div class="score-box">
        <span>You: {{ match.user_score }}</span>
        <span>AI: {{ match.ai_score }}</span>
    </div>

    <table>
        <tr>
            <th>Question</th>
            <th>Your Answer</th>
            <th>AI Answer</th>
            <th>Correct</th>
        </tr>

        {% for r in rounds %}
        <tr>
            <td>{{ r.question.content }}</td>
            <td>{{ r.user_answer }}</td>
            <td>{{ r.ai_answer }}</td>
            <td>{{ r.question.correct_answer }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'homepage' %}"><button class="home-btn">Quay về trang chủ</button></a>
</div>
