body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.container {
    width: 60%;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.question {
    font-size: 18px;
    margin-bottom: 15px;
}

.options label {
    display: block;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.options input {
    margin-right: 10px;
}

.options label:hover {
    background: #eef3ff;
}

button {
    background: #4f46e5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #4338ca;
}

.score-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.result-box {
    padding: 15px;
    border-radius: 8px;
    background: #f9fafb;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background: #eef2ff;
}
.title {
    text-align: center;
    margin-bottom: 20px;
}

.ai-form {
    max-width: 420px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ai-card {
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    transition: 0.25s;
    display: block;
}

.ai-card input {
    display: none;
}

.card-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    font-size: 36px;
}

.text h3 {
    margin: 0;
}

.text p {
    margin: 5px 0 0;
    color: #666;
    font-size: 14px;
}

.ai-card:hover {
    border-color: #888;
    background: #f9f9f9;
}

.ai-card input:checked + .card-content {
    border-left: 6px solid #4CAF50;
    padding-left: 10px;
}

.start-btn {
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: #4CAF50;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.start-btn:hover {
    background: #43a047;
}