{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>My Learning Path</title>
</head>
<body>

    <h1>📘 Lộ trình học của bạn</h1>

    {% if items %}
        {% for item in items %}
            <div class="item {{ item.status|lower }}">
                <strong>{{ item.order }}. {{ item.title }}</strong><br>
                Skill: {{ item.skill_code }} | Type: {{ item.item_type }} <br>

                {% if item.status == "COMPLETED" %}
                    ✅ Đã hoàn thành
                {% elif item.status == "UNLOCKED" %}
                    ▶ <a href="{% url 'learning_path:learning_path_item' item.id %}">
                       <div class="button"><button>Bắt đầu</button></div>
                    </a>
                {% else %}
                    🔒 Chưa mở khóa
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p class="message">⚠️ Bạn chưa có lộ trình học.</p>
    {% endif %}

   <div class="button"><a href="{% url 'homepage' %}"><button>Quay về trang chủ</button></a></div>
</body>
</html>