{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>{{ item.title }}</title>
</head>
<body>
<div class="container">
        <div class="learning-card">

            <h2>{{ item.title }}</h2>
            <p>Skill: {{ item.skill_code }}</p>
            <p>Type: {{ item.item_type }}</p>

            <hr>

            <div class="content-body">

                {% if item.item_type == "LESSON" %}
                <p>📖 Nội dung bài học (demo)</p>
                {% elif item.item_type == "PRACTICE" %}
                <p>📝 Bài luyện tập (demo)</p>
                {% elif item.item_type == "QUIZ" %}
                <p>❓ Quiz (demo)</p>
                {% endif %}

            </div>

            <hr>

            <div class="action-area">


                {% if item.status == "UNLOCKED" %}
                <form method="post">
                    {% csrf_token %}
                    <div class="button">
                       <button type="submit" class="btn-complete">✅ Hoàn thành</button>
                    </div>
                </form>
                {% else %}
                <p class="massge">🔒 Item chưa được mở khóa</p>
                {% endif %}
            </div>

        </div>
    </div>
</body>
</html>