<!DOCTYPE html>
<html>
<head>
    <title>{{ practice.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>{{ practice.title }}</h2>
    <p>Skill: {{ practice.skill_code }}</p>
    <p>Level: {{ practice.level }}</p>

    <hr>
    <form method="post">
        {% csrf_token %}
        {% for question in practice.questions.all %}
            <div class="question-box">
                <p><strong>Câu {{ forloop.counter }}:</strong> {{ question.content }}</p>
                {% for choice in question.choices.all %}
                    <label>
                        <input type="radio" name="q{{ question.id }}" value="{{ choice.id }}" required>
                        {{ choice.content }}
                    </label><br>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Nộp bài luyện tập</button>
    </form>
</body>
</html>
