<!DOCTYPE html>
<html>
<head>
    <title>{{ quiz.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>{{ quiz.title }}</h2>
    <p>Skill: {{ quiz.skill_code }}</p>
    <p>Level: {{ quiz.level }}</p>

    <hr>
   <div>
     <form method="post" action="{% url 'learning_path:quiz_submit' quiz.id %}">
        {% csrf_token %}
        {% for question in quiz.questions_for_quiz.all %}
            <div class="question-box">
                <p><strong>Câu {{ forloop.counter }}:</strong> {{ question.content }}</p>
                {% for choice in question.choices.all %}
                    <label>
                        <input type="radio" name="q{{ question.id }}" value="{{ choice.id }}" required>
                        {{ choice.content }}
                    </label><br>
                {% endfor %}
            </div>
        {% endfor %}
       <div class="button"><button type="submit">Nộp Quiz</button></div>
    </form>
   </div>
</body>
</html>
